<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>

    <div class="navbar">
        <ul class="nav-container">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/insert">Insert</a></li>
            <li><a href="/delete">Delete</a></li>
        </ul>
    </div>

    <h1>Search</h1>
    <form method="post" action="/search">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required /><br /><br />
      <input type="submit" value="Search" />
    </form>

    {% if data %}
    <h2>Search Results:</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
